<mat-card>
  <mat-card-content>
    <form #changePasswordForm="ngForm" (ngSubmit)="onSubmit(changePasswordForm)">
      <h2>Create Account</h2>
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
        <mat-error>
          Please provide your username
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Current Password" [(ngModel)]="oldPassword" name="oldPassword" required>
        <mat-error>
          Please provide your current password
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="New Password" [(ngModel)]="newPassword" name="newPassword" required>
        <mat-error>
          Please choose a new password
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="!changePasswordForm.form.valid"> Change Password </button>
    </form>
    <div *ngIf="this.wrongUsername">
      <h2>Username is wrong!</h2>
    </div>
    <div *ngIf="this.wrongPassword">
      <h2>Current password is wrong!</h2>
    </div>
  </mat-card-content>
</mat-card>

