<!-- Hero Section -->
<section class="text-center py-20 bg-indigo-600 text-white">
  <h1 class="text-5xl font-bold">User Information</h1>
</section>

<div *ngIf="user" class="max-w-md mx-auto bg-white shadow-lg rounded-lg p-6 mt-10">
  <div class="mt-4">
    <div class="mb-2"><strong>Name:</strong> {{ user.name }}</div>
    <div class="mb-2"><strong>Group:</strong> {{ user.userGroup }}</div>

    <div class="text-center mt-4">
      <button class="px-3 py-2 text-sm bg-green-500 text-white rounded-lg hover:bg-green-600" routerLink="/change-password">
        Change Password
      </button>
    </div>


    <div *ngIf="!user.userGroup" class="mt-4 flex gap-2">
      <input
        type="text"
        [(ngModel)]="newGroupName"
        placeholder="Group Name"
        class="w-full p-2 border rounded-lg focus:ring focus:ring-blue-300"
      />
      <input
        type="password"
        [(ngModel)]="newGroupPassword"
        placeholder="Group Password"
        class="w-full p-2 border rounded-lg focus:ring focus:ring-blue-300"
      />
    </div>
    <div *ngIf="!user.userGroup" class="text-center mt-2">
      <button (click)="createGroup()"
              class="mr-5 px-3 py-1 text-sm bg-blue-500 text-white rounded-lg hover:bg-blue-600"
      >
        Create Group
      </button>
      <button (click)="joinGroup()"
              class="ml-5 px-3 py-1 text-sm bg-blue-500 text-white rounded-lg hover:bg-blue-600"
      >
        Join Group
      </button>
    </div>
    <div *ngIf="user.userGroup">
      <div *ngIf="isAdmin" class="mt-4 flex gap-2">
        <input
          type="password"
          [(ngModel)]="newGroupPassword"
          placeholder="Group Password"
          class="w-full p-2 border rounded-lg focus:ring focus:ring-blue-300"
        />
        <button (click)="changeGroupPassword()"
          class="px-3 py-1 text-sm bg-blue-500 text-white rounded-lg hover:bg-blue-600"
        >
          Change Password
        </button>
      </div>
      <div *ngIf="isAdmin" class="text-center mt-4">
        <button (click)="deleteGroup()"
          class="px-3 py-2 text-sm bg-red-500 text-white rounded-lg hover:bg-red-600"
        >
          Delete Group
        </button>
      </div>
      <div *ngIf="!isAdmin" class="text-center mt-2">
        <button (click)="leaveGroup()"
          class="px-3 py-2 text-sm bg-red-500 text-white rounded-lg hover:bg-red-600"
        >
          Leave Group
        </button>
      </div>
    </div>
  </div>
</div>
